#modalPhoto{
    width: 800px;
    top: 10%;
    left:40%;
}

.item {
    margin-left: 30px;
    margin-right: 30px;
}

div.span6 {
    width:400px;
    margin-left: 25px;
}

div.span3 {
    width: 240px;
    margin-left: 15px;
    margin-right: 20px;
}

div.span9 {
    margin-left: 35px;
    margin-right: 35px;
}

div.carousel {
    margin-bottom: 0px;
}

#notdisplay {
    display: none;
}
