{% extends "lover_common.html" %}

{% block navbar %}
{% include "lover_navbar.html" %}
{% endblock %}

{% block concern %}
{% include "user_common.html" %}
{% endblock %}

{% block title %} Love Album List {% endblock %}

{% block link %}
{# <link type="text/css" href="/static/css/showPhoto.css" rel="stylesheet" /> #}
{% endblock %}

{% block js %}
<script src="/static/uploadify/jquery.uploadify.min.js" type="text/javascript"></script>
<script src="/static/js/uploadPhoto.js" type="text/javascript"></script>
<script src="/static/js/csrf.js" type="text/javascript"></script>
<script src="/static/js/showPhoto.js" type="text/javascript"></script>
{% endblock %}

{% block middle %}
<div id = "content" class="grey-unit function_area">
    <ul class="thumbnails">
        {% for album in albums %}
        <li class="album">
		<div id = "{{ album.id }}" class="thumbnail albumblock">
            <a href="/lovers/photo/{{ lovers.lid }}/{{ album.id }}/page1/">
                <img src="/static/pic/{{ lovers.lid }}/{{ album.id }}/{{ album.cover }}"/>
            </a>
            <div class="caption">
                <h3> {{ album.name }}<small> {{ album.photonum }}张 </small> </h3>
                <p> {{ album.desc }} </p>
            </div>
        </div>
        </li>
        {% endfor %}
    </ul>

    {% if havealbum %}
    <div class="pagination pagination-right">
        <ul>
            {% if notfirst %}
            <li> <a href="/lovers/album/{{ lovers.lid }}/page{{ pagepre }}/">上一页</a> </li>
            {% endif %}
            {% for index in pageindex %}
            <li> <a href="/lovers/album/{{ lovers.lid }}/page{{ index }}/">{{ index }}</a> </li>
            {% endfor %}
            {% if notlast %}
            <li> <a href="/lovers/album/{{ lovers.lid }}/page{{ pagepost }}/">下一页</a> </li>
            {% endif %}
        </ul>
    </div>
    {% endif %}
</div>

{% endblock %}

